<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="PSR12">
        <!-- Désactivation pour permettre l’utilisation de « trigger_deprecation » sur les fichiers -->
        <exclude name="PSR1.Files.SideEffects.FoundWithSymbols" />
    </rule>

    <!-- Interdit l’utilisation de certaines fonctions -->
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array">
                <element key="sizeof" value="count"/>
                <element key="delete" value="unset"/>
                <element key="print" value="echo"/>
                <element key="is_null" value="null"/>
                <element key="create_function" value="null"/>
                <element key="eval" value="null"/>
            </property>
        </properties>
    </rule>

    <file>src/</file>
</ruleset>
